<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MDG_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MDG_Application.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAddress1" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAddress2" serializeAs="String">
                <value />
            </setting>
            <setting name="UserCity" serializeAs="String">
                <value />
            </setting>
            <setting name="UserState" serializeAs="String">
                <value />
            </setting>
            <setting name="UserZIP" serializeAs="String">
                <value />
            </setting>
        </MDG_Application.Properties.Settings>
    </userSettings>
</configuration>